[submodule "postgresql"]
	path = postgresql
	url = https://github.com/opscode-cookbooks/postgresql.git
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "fail2ban"]
	path = fail2ban
	url = https://github.com/opscode-cookbooks/fail2ban.git
[submodule "python"]
	path = python
	url = https://github.com/opscode-cookbooks/python.git
[submodule "postgis"]
	path = postgis
	url = https://github.com/realityforge/chef-postgis.git
[submodule "yum"]
	path = yum
	url = https://github.com/opscode-cookbooks/yum.git
