[submodule "postgresql"]
	path = postgresql
	url = git@github.com:opscode-cookbooks/postgresql.git
[submodule "build-essential"]
	path = build-essential
	url = git@github.com:opscode-cookbooks/build-essential.git
[submodule "openssl"]
	path = openssl
	url = git@github.com:opscode-cookbooks/openssl.git
