[submodule "postgresql"]
	path = postgresql
	url = https://github.com/eroh92/chef-postgresql.git
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "fail2ban"]
	path = fail2ban
	url = https://github.com/eroh92/chef-fail2ban.git
[submodule "postgis"]
	path = postgis
	url = https://github.com/realityforge/chef-postgis.git
[submodule "python"]
	path = python
	url = https://github.com/eroh92/chef-python.git
[submodule "uwsgi"]
	path = uwsgi
	url = https://github.com/eroh92/chef-uwsgi.git
[submodule "conffile"]
	path = conffile
	url = https://github.com/optiflows-cookbooks/conffile.git
[submodule "gem_specific_install"]
	path = gem_specific_install
	url = https://github.com/optiflows-cookbooks/gem_specific_install.git
[submodule "git"]
	path = git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "runit"]
	path = runit
	url = https://github.com/eroh92/chef-runit.git
[submodule "dmg"]
	path = dmg
	url = https://github.com/eroh92/chef-dmg.git
[submodule "yum"]
	path = yum
	url = https://github.com/eroh92/chef-yum.git
[submodule "windows"]
	path = windows
	url = https://github.com/opscode-cookbooks/windows.git
[submodule "chef_handler"]
	path = chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler.git
[submodule "run_action_now"]
	path = run_action_now
	url = https://github.com/org-binbab/cookbook-run_action_now.git
[submodule "newrelic"]
	path = newrelic
	url = https://github.com/escapestudios/chef-newrelic.git
